.tituloHome{
	font-size: 800%;
	text-align:center;
}
.imageHome{
	width: 200%;
	margin: 200px 0 0 250px;
}
.borderimg{
	float: left;
	border:2px solid;
	padding: 50px;
}
.imageprojeto{
	width:300px;
	padding:20px;
	border: 2px solid;
	margin: 0 200px 0 0;
	
}

.ccc{
	 margin-left: 50px;
}
.floatright{
	float:right;
	margin-right: 200px;
}
.conteudo{
	margin: -400px 200px 100px 0; 
	float:right;
}
.texto{
	width:50%;
		
}
.sobremim{
	border: 2px solid;
	margin-right: 50px;
	margin-left: 700px;
	font-size: 15px;
	padding: 10px;
}
.foto_perfil{
	 float: left;
	 margin-left: 50px;
	 border-style: solid;
}
.borderimgperfil{
	float:left;
	border:2px solid;
	padding: 5px;
	margin-left: 50px;
}
.contato{
	margin: 200px 50px 50px 700px;
}


