.tituloHome{
	font-size: 800%;
	text-align:center;
}
.imageHome{
	width: 200%;
	margin: 200px 0 0 250px;
}
.borderimg{
	float: left;
	border:2px solid;
	padding: 50px;
}
.imageprojeto{
	width:300px;
	padding:20px;
	border: 2px solid;
	margin: 0 200px 0 0;
	
}

.ccc{
	 margin-left: 50px;
}
.floatright{
	float:right;
	margin-right: 200px;
}
.conteudo{
	margin: -400px 200px 100px 0; 
	float:right;
}
.texto{
	width:50%;
		
}
.sobremim{
	border: 2px solid;
	margin-top: 2px;
	margin-right: 50px;
	margin-left: 700px;
	font-size: 15px;
	padding: 10px;
}
.foto_perfil{
	 float: left;
	 margin-left: 50px;
	 border-style: solid;
}
.borderimgperfil{
	float:left;
	border:2px solid;
	padding: 5px;
	margin-left: 50px;
}
.contato{
	margin: 200px 50px 50px 700px;
}


.image_size{
	/*width: 20%;*/

    display: block;
    margin: auto;
    width: 40%;
	height: auto;
    }


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -9px;
    margin-left: 1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}